@import url(reset.min.css);
@import url(tablesorter.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html,
body {
    background: #eee;
    color: #555;
    height: 100%;
}

a,
.small-link {
    cursor: hand;
    cursor: pointer;
    color: #777;
    text-decoration: none;
}

a:hover,
.small-link:hover {
    color: #333;
    text-decoration: underline;
}

h1 {
    color: #333;
    font-size: 26px;
    padding: 10px 0;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 20px;
    margin: 0 0 10px 10px;
}

.wrapper {
    background: #fffeff;
    border-left: 1px solid;
    border-right: 1px solid;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0 auto;
    width: 900px;
}

.hidden {
    display: none;
}

nav {
    background: #333;
    color: #eee;
}

#plan-list {
    float: left;
    margin: 0 20px;
}

#plan-list ul {
    list-style-type: none;
}

#plan-details {
    float: right;
    width: 550px;
}

#display-table,
#display-table td {
    border: 1px solid;
    margin: 1px;
    min-width: 150px;
}

tr td {
    font-weight: 700;
}

tr td:nth-child(2) {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}

form {
    margin: 0 0 0 25px;
}

.req-elective {
    border: 1px solid;
}
