<style type="text/css">  
	
body {
	margin: 0;
	padding: 0;
	text-align: center; /* !!! */
}
.size {
	
	margin: 0 auto;
	width:320px;
	height:350px;
}
.searchbox {
position:absolute;
	top:-46px;
height:44px;
z-index:100;
	background-image:-webkit-linear-gradient(top, #2f3031, #161717 50%, #0a0a0a 51%, #000000);
	background-image:-webkit-linear-gradient(top, #2f3031, #161717 50%, #0a0a0a 51%, #000000);
	background-image:linear-gradient(rgba(255,255,255,0.15),rgba(255,255,255,0)),linear-gradient(top,#92a3b9,#7f93ad 50%,#768ba7 51%,#6d83a1);
	-webkit-box-shadow:rgba(255,255,255,0.3) 0 1px 0 inset;
	box-shadow:rgba(255,255,255,0.3) 0 1px 0 inset
border-top:solid 1px #95a5bc;
border-bottom:solid 1px #2d3642;
width:100%;
margin:0;
-webkit-transition: all 1s ease-out;
-webkit-transition-duration: 0.3s;
}
.searchbox form {
position: relative;
height:26px;
-webkit-border-image:url(img/searchfield.png) 4 14 1 24;
display:block;
border-width:4px 14px 1px 24px;
margin: 7px 80px 0 8px ; 
}

.searchbox input[type="search"]{
position:relative;
border:0;
-webkit-appearance:none;
height:18px;
float:left;
font-size:16px;
top:3px;
left:6px;
padding:0;
}

.searchbox input[type="search"]{
width:100%;
}

#search:focus{outline: none;}	

.searchbox #x{
position: absolute;
z-index: 20;
right: -8px;
top: 2px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
font-size: 17px;
line-height: 14px;
background: #b3b3b3;
height: 20px;
width: 20px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #fff;
text-align: center;
cursor:pointer;
display:none;
}
#my_button{
position:absolute;
font-family:"Helvetica Neue",Helvetica;
overflow:hidden;
width:auto;
height:29px;
font-size:12px;
font-weight:bold;
line-height:29px;
text-overflow:ellipsis;
text-decoration:none;
white-space:nowrap;
background:none;
bottom:6px;
right:10px;
margin:0;
padding:0 10px;
color:white;
text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
-webkit-box-shadow:rgba(255,255,255,0.2) 0 1px 0,rgba(0,0,0,0.2) 0 1px 2px inset;
box-shadow:rgba(255,255,255,0.2) 0 1px 0,rgba(0,0,0,0.2) 0 1px 2px inset;
border: 1px solid rgba(0, 0, 0, .4);
-webkit-border-radius:5px;
border-radius:5px;
background-image:none;
background-color:#50709a;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.2)), color-stop(50%,rgba(44,44,44,0.2)), color-stop(51%,rgba(0,0,0,0.2)), color-stop(100%,rgba(19,19,19,0.2)));
background: -webkit-linear-gradient(top, rgba(76,76,76,0.2) 0%,rgba(44,44,44,0.2) 50%,rgba(0,0,0,0.2) 51%,rgba(19,19,19,0.2) 100%);
background: linear-gradient(top, rgba(76,76,76,0.2) 0%,rgba(44,44,44,0.2) 50%,rgba(0,0,0,0.2) 51%,rgba(19,19,19,0.2) 100%);
}
#my_button.active{
border-color:#243346;
background-image:none;
background-color:#476489;
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#6b89b2),color-stop(50%,#50709a),color-stop(51%,#476489),color-stop(100%,#3e5779));
background-image:-webkit-linear-gradient(top,#6b89b2,#50709a 50%,#476489 51%,#3e5779);
background-image:linear-gradient(top,#6b89b2,#50709a 50%,#476489 51%,#3e5779);
color:white;
text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
}
div#history {
margin: 0 auto;
overflow:scroll;
}

div#history p {
text-align: justify;
}
div#schedule {
margin: 0 auto;
overflow:scroll;
}

div#schedule p {
text-align: justify;
}

</style>
